/*Header Carousel Css*/

.attractions-facilities-images {
  vertical-align: middle;
  object-fit: cover;
  width: 100%;
}

.attractions-facilities-header-slides {
  display: none;
}

/* Slideshow container */

.attractions-facilities-slideshow-container {
  width: 100%;
  top: 2.8em;
}

/* The dots/bullets/indicators */

.attractions-facilities-header-carousel-dot {
  height: 0.9em;
  width: 0.9em;
  margin: 0 0.1em;
  background-color: #ffff;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Placing the carousel label on the carousel*/

.attractiona-facilities-header-carousel-container-text {
	position: absolute;
    color: #ffff;
    background-color: rgb(239, 71, 111);
    padding-left: 0.625em;
    padding-right: 0.625em;
    margin-top: -10em;
    left: 5em;
}

.attractions-facilities-header-carousel-active {
  background-color: #ef476e;
}

/* Fading animation */

.attractions-facilities-header-carousel-fade {
  animation-name: fade;
  animation-duration: 2.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


/* Page Content CSS. Sets Page Gradient. */

.attractions-facilities-page-content {
  top: 34.1em;
  background-image: linear-gradient(dodgerBlue, white 10%, white 90%, dodgerBlue);
}

/* Sets Layout for Containers */

.attractions-facilities-flex-container {
  display: flex;
  padding: 1.9em;
  margin-left: 1.9em;
  margin-right: 1.9em;
  /* testing purposes */
  /* border: 0.188em solid black; */
}

.attractions-facilities-flex-child {
  flex: 1;
  /* testing purposes */
  /* border: 0.188em solid black; */
}
 
/* Adds Shadow Around Image Containers */

.attractions-facilities-flex-child > div > * {
  box-shadow: 0 0.250em 0.5em 0 rgba(0,0,0,0.2);
}

.attractions-facilities-article-article-fade > img {
  width: 100%;
}

/* Adds Border Around Ride Images */

#attractions-facilities-article-1 {
  border: 0.625em solid #662C91;
}

/* Adds Style Elements to Text Container for Rides*/

#attractions-facilities-card-1 {
  background-color: #0077BE;
  color: black;
}

/* Adds Border Around Activity Images */

#attractions-facilities-article-2 {
  border: 0.625em solid #FFD166;
}

/* Adds Style Elements to Text Container for Activities */

#attractions-facilities-card-2 {
  background-color: #0077BE;
}

/* Adds Border Around Facilities Images */

#attractions-facilities-article-3 {
  border: 0.625em solid rgb(239, 71, 111);
}

/* Adds Style Elements to Text Container for Facilities */

#attractions-facilities-card-3 {
  background-color: #0077BE;
}

/* Adds Border Around Facilities Images */

#attractions-facilities-article-4 {
  border: 0.625em solid #FF6B66;
}

/* Adds Style Elements to Text Container for Facilities */

#attractions-facilities-card-4 {
  background-color: #0077BE;
}

.attractions-facilities-flex-child:first-child {
  margin-right: 1.3em;
}

/* Adds Background Gradient to Footer Container */

.attractions-facilities-footer {
  background-image: linear-gradient(dodgerBlue, white 10%, white 90%, dodgerBlue);
}

/* Page content slideshow container */

.attractions-facilities-article-slideshow-container {
  position: relative;
}

/* Next & previous buttons */

.attractions-facilities-article-prev-1, .attractions-facilities-article-next-1, .attractions-facilities-article-prev-2, .attractions-facilities-article-next-2, .attractions-facilities-article-prev-3, .attractions-facilities-article-next-3, .attractions-facilities-article-prev-4, .attractions-facilities-article-next-4 {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1em;
  margin-top: -1.4em;
  color: white;
  font-weight: bold;
  font-size: 1.1em;
  transition: 0.6s ease;
  border-radius: 0 0.2em 0.2em 0;
  user-select: none;
  background-color: rgba(0, 0, 0, 0.248);
}

/* Position the "next button" to the right */

.attractions-facilities-article-next-1, .attractions-facilities-article-next-2, .attractions-facilities-article-next-3, .attractions-facilities-article-next-4 {
  right: 0;
  border-radius: 0.2em 0 0 0.2em;
}

/* On hover, add a black background color with a little bit see-through */

.attractions-facilities-article-prev-1:hover, .attractions-facilities-article-next-1:hover, .attractions-facilities-article-prev-2:hover, .attractions-facilities-article-next-2:hover, .attractions-facilities-article-prev-3:hover, .attractions-facilities-article-next-3:hover, .attractions-facilities-article-prev-4:hover, .attractions-facilities-article-next-4:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */

.attractions-facilities-article-article-fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

/* Layout and Styling For the Flip Card Containers */

.attractions-facilities-flip-card {
  background-color: transparent;
  width: 75%;
  height: 75%;
}

.attractions-facilities-flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  box-shadow: 0 0.3em 0.5em 0 rgba(0,0,0,0.2);
  transform-style: preserve-3d;
}

.attractions-facilities-flip-card:hover .attractions-facilities-flip-card-inner {
  transform: rotateY(180deg);
}

.attractions-facilities-flip-card-front, .attractions-facilities-flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.attractions-facilities-flip-card-front {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
}

.attractions-facilities-flip-card-back {
  color: white;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  font-size: 1vw;
}

.attractions-facilities-flip-card-back > p {
  padding: 3em;
}

.attractions-facilities-flip-card {
  margin-top: 6.25%; 
  margin-left: 12.5%;
}