/*Homepage fonts*/

.homepage-h3-fonts {
	font-family: "Permanent Marker", Helvetica, sans-serif;
	font-size: 40px;
	color: #38023B;
	font-weight: bold;
}

/* Homepage video CSS */

.homepage-header-video-container {
    object-fit: cover;
    width: 100%;
    height: 40em;
    margin-top: -10em;
}

.homepage-header-video-container-text {
	position: absolute;
    color: #ffff;
    background-color: rgb(239, 71, 111);
    padding-left: 0.625em;
    padding-right: 0.625em;
    margin-top: 20em;
    left: 5em;
}

/* Aside CSS (hour & location) */


/* Homepage ride info CSS */

.homepage-ride-info-section-container {
    background-image: linear-gradient(rgb(30,144,255), rgb(255,255,255) 12%, rgb(255,255,255) 90%);
    display: flex;
    justify-content: space-between;
    padding: 2em;
    padding-bottom: 3em;

}

.homepage-ride-info-article-container {
    display: flex;
    align-self: left;
    flex-direction: column;
    color: rgb(19, 18, 18);
    padding-top: 1em;
    
}

.homepage-ride-info-section-img {
    width: 70%;
    align-self: center;
    padding-bottom: 0.5em;
}

.homepage-ride-info-section-button {
    align-self: center;
    border: none;
    color: white;
    background-color: rgb(239, 71, 111);
    padding: 1em 2em;
    text-align: center;
    margin-top: 1em;
  }


.homepage-ride-info-section-button:hover {
    background-color: #d6d9da;
    color: white;
}

/* Homepage theme park description CSS */

.homepage-park-description-container {
    display: flex;
    justify-content: space-around;
    color: black;
    background-color: white;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 5em;
}

.homepage-park-description-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40em;
}

.homepage-park-description-button {
    align-self: center;
    border: none;
    color: white;
    background-color: rgb(239, 71, 111);
    padding: 1em 2em;
    text-align: center;
    font-size: 1em;
    margin: 1em;
    cursor: pointer;
}

.homepage-park-description-button:hover {
    background-color: #d6d9da;
    color: white;
}

/* Homepage theme park shape CSS & animation */

.homepage-shape-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    background-image: linear-gradient(rgb(255,255,255), rgb(255,255,255) 30%, rgb(255,255,255) 40%, rgb(30,144,255) 100%);
}

.homepage-shape-links-container > img {
    width: 10%;
    padding-bottom: 2em;
}

.homepage-shape-links-container > img:hover {
	animation: shape-img-ani-1 2s ease 0s 1 normal forwards;
}
    @keyframes shape-img-ani-1 {
    0% {
        transform: scale3d(1, 1, 1);
    }

    30% {
        transform: scale3d(1.25, 0.75, 1);
    }

    40% {
        transform: scale3d(0.75, 1.25, 1);
    }

    50% {
        transform: scale3d(1.15, 0.85, 1);
    }

    65% {
        transform: scale3d(0.95, 1.05, 1);
    }

    75% {
        transform: scale3d(1.05, 0.95, 1);
    }

    100% {
        transform: scale3d(1, 1, 1);
    }
}

