body {
    /*background: rgb(231, 211, 31);*/
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: black;
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    /*font-size: 16px;*/
    line-height: 1.3;
    margin: 0 auto;
    max-width: 2400px;

}

body, html {
  width: 100%;
  height: 100%;
  font-family: Helvetica, sans-serif;
}

.hero-text {
	position: absolute;
    color: #ffff;
    background-color: rgb(239, 71, 111);
    /*padding-top: 15px;
    padding-bottom: 15px;*/
    padding-left: 10px;
    padding-right: 10px;
    top: 35%;
    left: 5%;
}

h1 {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 25px;
	color: white;
}

h2 {
	font-family: "Open Sans", Helvetica, sans-serif;
	font-weight: bold;
  color: #38023B;
	font-size: 30px;
}

h3 {
	font-family: "Permanent Marker", Helvetica, sans-serif;
	font-size: 40px;
	color: #38023B;
	font-weight: bold;
}
h4 {
	font-family: "Permanent Marker", Helvetica, sans-serif;
	font-size: 30px;
	color: white;
	font-weight: bold;
	padding-right: 60px;
}

/*img properties */
.logo{
  float: left;
  width:180px;
  height:70px;
  padding: 15px 0px 0px 20px;
  }

.mascot{
  background-position: center;
  padding: 30px 0px 0px 100px;

}

.pointer{
  float: left;
  width:20px;
  height:20px;
  padding: 0px 3px 0px 0px;

  }

.clock{
  float: left;
  width:17px;
  height:17px;
  padding: 3px 3px 0px 0px;
}

/*animations */
.shape-img-ani-1{
  animation: shape-img-ani-1 6s ease 0s infinite normal forwards;
}
@keyframes shape-img-ani-1  {
	0% {
		animation-timing-function: ease-out;
		transform: scale(1);
		transform-origin: center center;
	}
	10% {
		animation-timing-function: ease-in;
		transform: scale(0.91);
	}
	17% {
		animation-timing-function: ease-out;
		transform: scale(0.98);
	}
	33% {
		animation-timing-function: ease-in;
		transform: scale(0.87);
	}
	45% {
		animation-timing-function: ease-out;
		transform: scale(1);
	}
}

.shape-img-ani-2{
  animation: shape-img-ani-1 6s ease 2s infinite normal forwards;
}

.shape-img-ani-3{
  animation: shape-img-ani-1 6s ease 4s infinite normal forwards;
}


/*video header */
.video-wrap {
  z-index: -100;
}

.video {
  object-fit: cover;
  width: 100vw;
  height: 50vh;
  top: 0;
  left: 0;
  padding: 0px 0px 0px 0px; /*size*/

}


/* Navbar */
#navbar a {
  float: right;
  display: inline;
  color: #2b2929;
  text-align: center;
  padding: 30px;
  padding-right: 15px;
  text-decoration: none;
  font-size: 17px;
  font-family: monospace;
}

/*hover works when links are created*/
#navbar a:hover
{
    color: #2952c4;
}


/* sticky navbar */
#topbar {
  overflow: hidden;
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
} 

/*flex containers*/
main {
  display: flex;
  flex-flow: row wrap;
  /*background-color: DodgerBlue;*/
  background-image: linear-gradient(dodgerBlue, white 10%, white 90%, dodgerBlue);
  justify-content: center;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 0px;
  text-align: center;
  font-size: 15px;
  color: black;
  }

  .main > div {
    /*background-color: rgb(255, 255, 255);*/
    background-image: linear-gradient(dodgerBlue, white 10%, white 90%, dodgerBlue);
    /*color: rgb(30, 255, 86);*/
    margin: 80px;
    text-align: center;
  }

  .flexbox-media img {
      width: 100%;
      height: auto;
  }
  
  @media all and (max-width: 650px) {
      .flexbox-media {
          width: 100%;
      }
  }
  
  @media all and (min-width: 510px) {
      .attraction-image-1,
      .attraction-image-2,
      .attraction-image-3{
        width: 30%;
        padding: 15px;
    }
  }

  @media all and (min-width: 510px) {
    .shape-circle,
    .shape-triangle,
    .shape-square{
      width: 30%;
      padding: 105px;
  }
}


.opening-hours-container {
  display: flex;
  align-items: left;
  background-color: rgb(255, 209, 102);
  padding-top: 0px;
  padding-bottom: 5px;
}

.opening-hours-container > div {
  background-color: rgb(255, 209, 102);
  color: rgb(0, 0, 0);
  margin: 0px;
  text-align: left;
  line-height: 25px;
  font-size: 14px;
  padding: 0px 60px 0px 60px;
}

.nav-container {
  display: flex;
  align-items: stretch;
  background-color: #f1f1f1;
  border: 0px solid white;
}

.nav-container > div {
  background-color: rgb(6, 214, 160);
  color: white;
  margin: 0px;
  text-align: center;
  line-height: 75px;
  font-size: 20px;
  justify-content: space-between;
}
    
.menu-container {
  display: flex;
  align-items: center;
  flex-grow: 0.1;
  border-left: 3px solid #fff;
  padding: 0px 0px 0px 30px;
}

.menu-container a:hover {
  color: #2952c4;
}

.logo-container {
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  padding: 0px 0px 15px 20px;

}

.text-container {
  display: flex;
  justify-content: center;
  /*background-color: #ffffff;*/
  text-align: center;
  font-size: 20px;
}

.text-container > div {
  /*background-color: rgb(255, 255, 255);*/
  color: rgb(0, 0, 0);
  margin: 0px;
  font-size: 20px;
}

.bumper-cars-container {
  display: flex;
  align-items: center;
  /*background-color: white;*/
  padding-top: 0px;
  padding-bottom: 30px;
}

.bumper-cars-container > div {
  /*background-color: white;*/
  color: rgb(0, 0, 0);
  margin: 0px;
  text-align: left;
  /*line-height: 25px;
  font-size: 20px;*/
  padding: 50px 0px 0px 20px;
}


.shape-container {
  display: flex;
  align-items: stretch;
  /*background-color: white;*/

}
.shape-container > div {
  /*background-color: rgb(53, 153, 83);*/
  color: rgb(255, 255, 255);
  margin: 0px;
  text-align: center;
  line-height: 25px;
  font-size: 30px;
  border: 0px solid white;
}

.footer-container {
  display: flex;
  background-color: dodgerblue;
  border: 0px solid rgb(3, 3, 3);
  justify-content: center; 
}

.footer-container > div {
  background-color: dodgerblue;
  margin: 0px;
  padding: 10px;
  font-size: 17px;
  color: rgb(0, 0, 0);
  line-height: 15px;
}

/*buttons*/
  .button {
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: rgb(239, 71, 111);
  }
  
  /*bground color button*/
  /*.button1 {background-color: #4CAF50;} 
  .button2 {background-color: #f50e0e;}*/ 

  /*hover effect*/
  .button1:hover {
    background-color: #d6d9da;
    color: white;
  }

  .button2:hover {
    background-color: #d6d9da;
    color: white;
  }

/*footer social-icons*/
.fa {
  padding: 5px;
  font-size: 10px;
  width: 25px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



