/* Overall CSS reset */

html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* HTML Body container */

.body-container {
    display: flex;
    flex-direction: column;
}

/* Navbar CSS */

.navbar-container {
    z-index: 1; 
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #06d6a0;
    color: #FFFFFF;
    padding: 0em 0em 0.8em 0.4em;
    top: 0;
    height: 2em;
    width: 100%;
}

#navbar-attractions-link {
    font-size: 0.8em;
    flex-grow: 5;
    text-align: right;
    color: #fdfffe;
    padding-top: 0.5em;
}

#navbar-attractions-link > a {
    text-decoration: none;
    color: white;
}

#navbar-tickets-link {
    font-size: 0.8em;
    flex-grow: 1;
    text-align: center;
    text-decoration: none;
    color: white;
    padding-top: 0.5em;
}

#navbar-tickets-link > a {
    text-decoration: none;
    color: white;
}

#navbar-logo {
    width: 5em;
    height: 2em;
    padding: 0.6em 0em 0em 0.6em;
}

.shape-links-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3em;
    width: 100%;
    background-image: linear-gradient(rgb(255,255,255), rgb(255,255,255) 30%, rgb(255,255,255) 40%, rgb(30,144,255) 100%);
}
.shape-links-container > a > img {
    width: 10em;
}
.shape-links-container > a > img:hover {
    animation: shape-img-ani-1 2s ease 0s 1 normal forwards;
}

@keyframes shape-img-ani-1 {
    0% {
        transform: scale3d(1, 1, 1);
    }
    30% {
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        transform: scale3d(1.05, 0.95, 1);
    }
    100% {
        transform: scale3d(1, 1, 1);
    }
}

/* Aside CSS (hour & location) */

.aside-hour-location-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0.5em 0em 0.5em;
    width: 100%;
    background-color: rgb(255, 209, 102);
    padding: 0.5em 0em 0.5em 0em;
    color: black;
}

.aside-hour-location-text {
    padding: 0em 40em 0em 0em;
}

.aside-location-icon {
    width: 1.2em;
    height: 1.2em;
    vertical-align: middle;
}

.aside-clock-icon {
    width: 1.3em;
    height: 1.2em;
    vertical-align: middle;
}

/* Main content CSS */

.main-content-container {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(30,144,255);
    justify-content: center;
    width: 100%;
    padding-top: 1,2em;
    text-align: center;
    color: white;
}

/* Footer CSS */

.footer-container {
    display: flex;
    justify-content: space-between; 
    align-content: center;
    background: rgb(30,144,255);
    padding: 0.5em 1em;
}

.footer-container > div { 
    align-self: center;
    text-align: center;
    padding-left: 2em;
}

.footer-text{
    padding-right: 5em;
}

.footer-icon {
    padding: 0.3em;
    width: 1.3em;
    text-align: center;
    text-decoration: none;
    margin: 0.2em;
}

.footer-icon:hover {
    opacity: 0.7;
}

.footer-icon-facebook {
    background: #3B5998;
    color: white;
}

.footer-icon-twitter {
    background: #55ACEE;
    color: white;
}

.footer-icon-instagram {
    background: #125688;
    color: white;
}