/*Tickets page CSS*/


 /* announcements bar */
.announcements-container {
  display: flex;
  align-items: center;
  background-color: rgb(255, 209, 102);
  padding-top: 5px;
  padding-bottom: 5px;
}

.announcements-container > div {
  background-color: rgb(255, 209, 102);
  color: rgb(0, 0, 0);
  margin: 0px;
  text-align: left;
  line-height: 25px;
  font-size: 20px;
  padding: 0px 60px 0px 60px;
}

  
 /* ticket information */ 
.ticket-container {
    width: 30%;
    padding: 15px 25px 35px 0px; /*size*/
}

.ticket-label {
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
	  background-color: #0077BE;
}

.price{
  border: none;
  color: white;
  text-align: right;
  text-decoration: none;
  font-size: 18px;
  margin: 4px -50px;
}


 /* hero image and text */
.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../public/images/img2.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-text {
	position: absolute;
    color: #ffff;
    font-size: 50px;
    background-color: rgb(239, 71, 111);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    top: 35%;
    left: 5%;
}

 /* payment and contact information */
.payment-contact-container {
  display: flex;
  align-items: stretch;
  width: 100%;
  padding: 50px 50px 30px 20px;
  
}

.payment-contact-container > div {
  color: black;
  border: 4px black;
  text-align: justify;
  margin: 4px 2px;
  border: 10px solid;
  border-color: rgb(239, 71, 111) white;
}

 /* animated mascot */
.mascot{
  background-position: left;
  padding: 10px 0px 0px 0px;

}

 /* park map */
.map-container {
  padding: 50px 50px 30px 20px;
  color: rgb(2, 2, 2);
  margin: 30px;
  font-size: 30px;
  width: 80%;
  height: 80%;
}

.map-image {
	display: flex;
	height: 80%;
	width: 80%;
	margin:auto;
}
